.pop-up-list{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: var(--active-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-list .pop-up-list-content{
    width: 900px;
    height: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.pop-up-list .pop-up-list-content .search{
    padding: 7px;
    background-color: var(--active-color);
    border-radius: 7px;
    display: flex;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.pop-up-list .pop-up-list-content .search input[type='text']{
    width: 100%;
    height: 30px;
    color: var(--main-black);
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 1px;
    outline: none;
    padding-right: 50px;
    padding-left: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
}

.pop-up-list .pop-up-list-content .search input[type='text']::placeholder{
    color: var(--main-black);
    text-overflow: ellipsis;
    opacity: .5;
}

.pop-up-list .pop-up-list-content .search input[type='text']:focus{
    border-color: var(--main-color);
}

.pop-up-list .pop-up-list-content .search input[type='text']:focus::placeholder{
    opacity: .3;
}

.pop-up-list .pop-up-list-content .search div:first-child{
    position: absolute;
    right: 24px;
    top: 14px;
}

.pop-up-list .pop-up-list-content .search div:first-child::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 22px;
    background-color: var(--secondary-color);
    top: -3px;
    right: 27px;
}

.pop-up-list .pop-up-list-content .pop-up-list-sort-bar{
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--draw-color);
} 

.pop-up-list .pop-up-list-content .pop-up-list-sort-bar span{
    color: var(--main-black);
    position: relative;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.pop-up-list .pop-up-list-content .pop-up-list-sort-bar .arrow-down::before{
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.85309L5.9999 9.97645L0 3.85309L1.8733 2.02368L5.9999 6.23512L10.1267 2.02368L12 3.85309Z' fill='%23232323'/%3E%3C/svg%3E%0A");
    top: 3px;
    left: -16px;
}

.pop-up-list .pop-up-list-content .pop-up-list-sort-bar .arrow-up::before{
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clipPath='url(%23clip0_1307_22)'%3E%3Cpath d='M-0.000487503 8.14642L5.99961 2.02306L11.9995 8.14642L10.1262 9.97583L5.99961 5.76439L1.87281 9.97583L-0.000487503 8.14642Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1307_22'%3E%3Crect width='12' height='12' fill='white' transform='translate(11.9995 11.9995) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    top: 3px;
    left: -16px;
}

.pop-up-list .pop-up-list-content .pop-up-list-sort-bar .double-arrow::before{
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_176_29)'%3E%3Cpath d='M0 6.78883L5.00008 1.68604L9.99999 6.78883L8.43891 8.31334L5.00008 4.80381L1.56108 8.31334L0 6.78883Z' fill='%23232323'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1_176_29)'%3E%3Cpath d='M10 11.211L4.99992 16.3138L0 11.211L1.56108 9.68652L4.99992 13.1961L8.43892 9.68652L10 11.211Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_176_29'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_176_29'%3E%3Crect width='10' height='10' fill='white' transform='translate(0 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    left: -16px;
    top: -2px;
}

.pop-up-list .pop-up-list-content .pop-up-list-items{
    width: 100%;
    height: 350px;
    overflow-y: auto;
    padding: 5px 0 5px 0;
}

.pop-up-list .pop-up-list-content .pop-up-list-items > label{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    padding: 7px 0 7px 20px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.pop-up-list .pop-up-list-content .pop-up-list-items > label:hover{
    background-color: var(--active-color);
}

.pop-up-list .pop-up-list-content .pop-up-list-items label span{
    text-align: center;
    overflow: hidden;
}

.pop-up-list .pop-up-list-content .pop-up-list-items label span:last-of-type{
    font-size: 12px;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 0;
}

.pop-up-list .pop-up-list-content .pop-up-list-items label input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pop-up-list .pop-up-list-content .pop-up-list-items label .checkmark{
    position: absolute;
    top: 9px;
    left: 20px;
    height: 19px;
    width: 19px;
    background-color: var(--active-color);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pop-up-list .pop-up-list-content .pop-up-list-items label:hover input ~ .checkmark{
    background-color: #F5FBF9;
}

.pop-up-list .pop-up-list-content .pop-up-list-items label input:checked ~ .checkmark{
    background-color: white;
    border: 1px solid var(--main-color);
}

.pop-up-list .pop-up-list-content .pop-up-list-items label .checkmark::after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.pop-up-list .pop-up-list-content .pop-up-list-items label input:checked ~ .checkmark::after{
    display: block;
}

.pop-up-list .pop-up-list-content .pop-up-list-button{
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--draw-color);
}

.pop-up-list .pop-up-list-content .pop-up-list-empty{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: .7;
    gap: 20px;
    align-items: center;
    color: var(--secondary-color);
    font-weight: bold;
}

.pop-up-list .pop-up-list-content .pop-up-list-empty div svg{
    width: 300px;
    height: 200px;
}

@media(max-width: 767px){
    .pop-up-list{
        padding: 0 10px;
    }
    .pop-up-list .pop-up-list-content .search input[type='text']{
        font-size: 10px;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-sort-bar span{
        font-size: 8px;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-sort-bar .arrow-down::before{
        content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.85309L5.9999 9.97645L0 3.85309L1.8733 2.02368L5.9999 6.23512L10.1267 2.02368L12 3.85309Z' fill='%23232323'/%3E%3C/svg%3E%0A");
        top: 0px;
        left: -10px;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-sort-bar .arrow-up::before{
        content: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clipPath='url(%23clip0_1307_22)'%3E%3Cpath d='M-0.000487503 8.14642L5.99961 2.02306L11.9995 8.14642L10.1262 9.97583L5.99961 5.76439L1.87281 9.97583L-0.000487503 8.14642Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1307_22'%3E%3Crect width='12' height='12' fill='white' transform='translate(11.9995 11.9995) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        top: 0px;
        left: -10px;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-sort-bar .double-arrow::before{
        content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_176_29)'%3E%3Cpath d='M0 6.78883L5.00008 1.68604L9.99999 6.78883L8.43891 8.31334L5.00008 4.80381L1.56108 8.31334L0 6.78883Z' fill='%23232323'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1_176_29)'%3E%3Cpath d='M10 11.211L4.99992 16.3138L0 11.211L1.56108 9.68652L4.99992 13.1961L8.43892 9.68652L10 11.211Z' fill='%23232323'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_176_29'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_176_29'%3E%3Crect width='10' height='10' fill='white' transform='translate(0 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        left: -12px;
        top: 0px;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-items > label span{
        font-size: 10px !important;
        margin: 0 !important;
    }
    .pop-up-list .pop-up-list-content .pop-up-list-items label .checkmark{
        width: 15px;
        height: 15px;   
    }
}