.all-beneficiaries{
    width: calc(100% - 235px);
    height: 100vh;
    margin-right: 235px;
    overflow-y: auto;
}

.all-beneficiaries .all-beneficiaries-content{
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -15px;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
}

.all-beneficiaries .all-beneficiaries-content .loading-icon,
.all-beneficiaries .all-beneficiaries-content .error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

@media(max-width: 991px){
    .all-beneficiaries{
        width: 100%;
        margin: 100px 0 0 0;
        padding-right: 5px;
    }
    .all-beneficiaries .all-beneficiaries-content{
        padding: 0;
    }
}


@media(max-width: 767px){
    .all-beneficiaries .all-beneficiaries-content .dashboard-table .dashboard-table-sort-bar span:first-child{
        margin-left: 30px !important;
        margin-right: 10px !important;
    }
    .all-beneficiaries .all-beneficiaries-content .dashboard-table .dashboard-table-sort-bar span:nth-child(2){
        margin-left: 32px !important;
    }
    .all-beneficiaries .all-beneficiaries-content .dashboard-table .dashboard-table-sort-bar span:nth-child(3){
        margin-left: 24px !important;
    }
    .all-beneficiaries .all-beneficiaries-content .dashboard-table .dashboard-table-sort-bar span:nth-child(4){
        margin-left: 20px !important;
    }
    .all-beneficiaries .all-beneficiaries-content .dashboard-table .dashboard-table-sort-bar span:nth-child(5){
        margin-left: 24px !important;
    }
}